/* 文件样式 */
.nav-folder-children .nav-file-title-content:first-child::before {
  content: "";
  margin-right: 5px;
  width: 18px;
  height: 18px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='18' height='18'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M3 3h18a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zm4 12.5v-4l2 2 2-2v4h2v-7h-2l-2 2-2-2H5v7h2zm11-3v-4h-2v4h-2l3 3 3-3h-2z' fill='rgba(25,188,155,1)'/%3E%3C/svg%3E");
}

/* 文件夹打开样式 */
.nav-folder .nav-folder-title-content::before {
  content: "";
  margin-right: 5px;
  width: 18px;
  height: 18px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='18' height='18'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M3 21a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h7.414l2 2H20a1 1 0 0 1 1 1v3H4v9.996L6 11h16.5l-2.31 9.243a1 1 0 0 1-.97.757H3z' fill='rgba(241,196,14,1)'/%3E%3C/svg%3E");
}

/* 文件夹关闭样式 */
.nav-folder.is-collapsed .nav-folder-title-content::before {
  content: "";
  margin-right: 5px;
  width: 18px;
  height: 18px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='18' height='18'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12.414 5H21a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h7.414l2 2z' fill='rgba(241,196,14,1)'/%3E%3C/svg%3E");
}

/* 父类样式 */
.nav-file-title-content,
.nav-folder-title-content {
  display: flex;
  align-items: center;
  overflow: visible;
}
